
html,body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}


a {
  color: white;
}

.transparentDiv {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(71, 73, 73, 0.93);
  opacity: 0.77;
  z-index: 0;
}











/* FOOTER */
footer {
  position: relative;
  width: 100vw;
  height: 85vh;
  background: url("../assets/home/footer-1.jpg");
  background-size: cover;
}

.footerDiv {
  position: absolute;
  height: 90%;
  width: 100%;
  padding: 1em 0;
  display: grid;
  grid-template-rows: 1fr 1fr 2fr 0.7fr 0.2fr;
}

.newsLetter {
  grid-row: 1/2;
  grid-column: 1/2;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 40px;
  color: white;
  margin-top: 1em;
  font-family: "BrandonGrotesque-Lit";
}

.Email {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2em 0;
}

.Email > input {
  padding: 9px;
  border-radius: 0.8em;
  height: 1.6em;
  width: 27vw;
  text-indent: 1em;
  outline: none;
  font-size: 20px;
  color: #474949;
}

.linksBlock {
  padding-top: 1em;
  /* background-color: crimson; */
  display: grid;
  grid-template-columns: 1.5fr 0.8fr 1fr 1.8fr;
  grid-template-rows: auto;
}

.linksBlock > div {
  display: grid;
  grid-template-rows: 1fr repeat(0.4fr, 4);
  color: white;
  padding: 10px;
}

.linksBlock > div > a {
  font-size: 16px;
  cursor: pointer;
  color: white;
  padding: 10px 0;
}

.iconsBlock{
  /* background-color: yellow; */
  display: flex;
  justify-content: center;
  align-items: center;

}
.iconsBlock > div{
  padding: 1.6vw;
  cursor: pointer;
}

.COMPANY {
  justify-content: flex-end;
}

.INFO {
  justify-content: flex-end;
}

.LINKS {
  justify-content: center;
}

.BLOG {
  justify-content: flex-start;
}

